<!DOCTYPE html>
<html>
<head>
    <title>TS-ZOMBIE-COOKIE-DEMO</title>
</head>
<body>
    <h2>TS-ZOMBIE-COOKIE</h2>
    <hr/>
    <h3>This is a demo of ts-zombie-cookie</h3>
    <strong>
        Current cookie value:
        <span id="current-cookie-value" style="color: red"></span>
    </strong>
    <br/>
    <button id="btn-set-cookie">Set Cookie</button>
    <button id="btn-delete-cookie">Delete Cookie</button>
    <br>
    <button id="btn-show-cookie">Show All Cookies</button>
    <div class="warning">
        <em><strong>Warning:</strong> Google Chrome ignores cookies from local pages.</em>
        <br/>
        <em>Should run on a server so that the cookie works properly.</em>
    </div>



    <script type="text/javascript" src="/javascripts/ts-zcookie.js"></script>
</body>
</html>